name: Python application

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v3
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pytest fastapi uvicorn "httpx<0.28"
          pip install flake8 pytest
          if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

      - name: Lint with flake8
        run: |
          # stop the build if there are Python syntax errors or undefined names
          flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
          # exit-zero treats all errors as warnings. The GitHub editor is 127 chars wide
          flake8 . --count --exit-zero --max-complexity=10 --max-line-length=127 --statistics

      - name: Test with pytest (ignore 'no tests' error)
        run: |
          set +e
          pytest
          code=$?
          set -e
      
          if [ "$code" -eq 5 ]; then
            echo "No tests collected, ignoring exit code 5."
            exit 0
          elif [ "$code" -eq 0 ]; then
            exit 0
          else
            exit "$code"
          fi
          
      - name: Test email sending
        run: pytest tests/test_main.py::test_send_email_success -vv
     


